@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   /* Custom global styles can be added here */
   html {
      @apply text-gray-900 bg-gray-200 scroll-smooth;
   }

   html,
   body {
      @apply h-full min-h-screen w-full;
   }
}
